<div class="algo__input my-3 p-3 bg-body rounded shadow-sm">
  <div>
    <div *ngIf="isNotValidMatrixSize()">
      Type valid # of rows and # of columns
    </div>
    <div [class.inline-block]="true">Rows:<br>
      <input type="number" [(ngModel)]="rows">
    </div>
    <div [class.inline-block]="true">Columns:<br>
      <input type="number" [(ngModel)]="columns">
    </div>
  </div>

  <div [class.centered-child]="true" [class.bold-text]="true" [hidden]="isNotValidMatrixSize()">
    Matrix:
    <br>

    <matrix-view [rows]="rows" [columns]="columns" #matrixView></matrix-view>
  </div>
  <br><br>



  <button (click)="matrixView.matrix && onClick(matrixView.matrix)" class="btn btn-primary">Calc</button>
</div>

<div [class.centered-child]="true" [class.bold-text]="true" [hidden]="isNotValidMatrixSize()"
  class="my-3 p-3 bg-body rounded shadow-sm"
  *ngFor="let matrix of getMatrices(); let i = index" #tempCalcContainer>

  <h6 class="border-bottom pb-2 mb-0">
    {{getTitleOf(i)}}
  </h6>

  <span>{{getDescOf(i)}}</span>

  <matrix-view [rows]="matrix.rows" [columns]="matrix.columns" [matrix]="matrix" [disabled]="true"> </matrix-view>

</div>
<br>
