<div class="algo__input my-3 p-3 bg-body rounded shadow-sm">
  <div *ngIf="isNotValidMatrixSize()">
    Type valid # of rows and # of columns
  </div>
  <div>
    <div class="inline-block">Rows:<br>
      <input type="number" [(ngModel)]="rows">
    </div>
    <div class="inline-block">Columns:<br>
      <input type="number" [(ngModel)]="columns">
    </div>
  </div>

  <div class="inline-block" [hidden]="isNotValidVectorSize()">
    Matrix:
    <matrix-view [rows]="rows" [columns]="columns" #matrixView></matrix-view>
  </div>
  <br>
  <div class="inline-block" [hidden]="isNotValidVectorSize()">
    <div [class.vector]="true">
      Constant terms
      <matrix-view [rows]="rows" [columns]="1" #constantView></matrix-view>
    </div>
    <div [class.vector]="true">
      Start Vector
      <matrix-view [rows]="rows" [columns]="1" #vectorView></matrix-view>
    </div>
  </div>

  <button class="btn btn-primary"
    (click)="matrixView.matrix && constantView.matrix && vectorView.matrix && onClick(matrixView.matrix, constantView.matrix, vectorView.matrix)">
    Calc
  </button>
</div>


<div [class.centered-child]="true" [class.bold-text]="true" [hidden]="isNotValidMatrixSize()"
  class="my-3 p-3 bg-body rounded shadow-sm"
  *ngFor="let matrix of getMatrices(); let i = index" #tempCalcContainer>


  <h6 class="border-bottom pb-2 mb-0">
      {{getTitleOf(i)}}
  </h6>

  <span>{{getDescOf(i)}}</span>

  <matrix-view [rows]="matrix.rows" [columns]="matrix.columns" [matrix]="matrix" [disabled]="true"> </matrix-view>
</div>
<br>
