<header
  class="d-flex flex-column flex-md-row flex-md-wrap justify-content-center py-3 border-bottom sticky-top bg-body">
  <div class="d-flex me-md-auto px-3 justify-content-between d-md-block">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none ">
      <span class="fs-4">{{title}}</span>
    </a>
    <button (click)="onSidebarToggleClick()" class="navbar-toggler d-md-none collapsed" type="button"
      data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
  </div>


  <div class="d-flex mt-3 justify-content-center mt-md-0 d-md-block">
    <div class="d-flex d-md-block">
      <a href="#" disabled class="btn btn-primary" role="button" data-bs-toggle="button">Roadmap</a>
      <a href="https://gitlab.com/fabrizioarmango/numanalysis-demo/-/issues/new" class="btn btn-danger ms-2 me-3"
        role="button" data-bs-toggle="button">Report a bug</a>
    </div>


  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" [class.show]="showSidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 d-flex flex-column flex-shrink-0 h-100">
        <h6
          class="sidebar-heading d-flex mx-sm-auto justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Algorithms</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item mx-sm-auto" *ngFor="let algorithm of algorithms" (click)="onSelect(algorithm)">
            <a class="nav-link" href="#">
              {{algorithm.name}}
            </a>
          </li>
        </ul>
        <div class="alert alert-info m-3 mt-4 text-center mb-auto" role="alert">
          <small>Work in progress</small>
        </div>
        <p class="text-center mt-4">
          <small class="text-muted">© 2017–{{currentYear}}</small><br />
          <small><a href="https://fabrizio.armango.it">Fabrizio</a></small>
        </p>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container">
        <div class="pt-3 pb-2 mb-3 my-3 p-3">
          <ng-container *ngIf="selectedAlgorithm">
            <div class="algo__title d-flex align-items-center p-3 my-3 rounded shadow-sm">
              <div class="lh-1">
                <h1 class="h6 mb-0 lh-1">{{selectedAlgorithm.name}} Demo</h1>
              </div>
            </div>

            <div [ngSwitch]="selectedAlgorithm.id">
              <ng-container *ngSwitchCase="1">
                <gauss-jordan-inverse></gauss-jordan-inverse>
              </ng-container>
              <ng-container *ngSwitchCase="2">
                <jacobi-method></jacobi-method>
              </ng-container>
              <ng-container *ngSwitchCase="3">
                <gauss-seidel-method></gauss-seidel-method>
              </ng-container>
              <ng-container *ngSwitchCase="4">
                <cholesky-method></cholesky-method>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="!selectedAlgorithm">
            <h1 class="h5">Purpose</h1>
            <p>The purpose of this simple Angular application is to implement some numerical analysis methods that I
              studied during the Numerical Analysis course at the Computer Science faculty of the University of Palermo,
              to digitalize the material collected in my notebook.
            </p>
            <p>Having the ability to see the matrix values step by step to arrive at the final result, it can be
              comfortable and easier to understand how these algorithms work.</p>
            <hr class="my-4" />
            <h1 class="h5">Status</h1>
            <div class="alert alert-warning" role="alert">
              Not completed!
            </div>
            <p>I started this project in the 2017 and after 6 years I have decided to continue <u>working on it in my
                spare time</u>, so don't expect my commits to be very frequent.</p>
            <p>For me it is a good opportunity to refresh my memory with these interesting algorithms and play with
              Angular (after these years
              of deep dive in the React's world) and whatever else might come in.</p>
            <hr class="my-4" />
            <h1 class="h5">Contributing</h1>
            <p>
              This project welcomes contributions. Feel free to create issues, add features, stories, fix bugs or
              anything you think could help the community.
            </p>
            <p>Repository: <a href="https://gitlab.com/fabrizioarmango/numanalysis-demo">GitLab</a></p>
          </ng-container>
        </div>
      </div>
    </main>
  </div>
</div>
