.inline-block {
  display: inline-block;
  position: relative;
  margin-left: 0;
  padding: 0.8em 0.7em 0 0.7em;
}

input[type=text] {
  width: 50px;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
  width: 100px;
}

.centered-child {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.centered-div {
  width: 100%;
  height: 100%;
}

.bold-text {
  font-weight: bold;
}


a,
input[type='checkbox']+label {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.warningMsg {
  font-size: 10px;
  color: #ff0000;
}

div table tr {
  padding-bottom: 2px;
  margin-bottom: 2px;
}

div table {
  margin: auto;
}

.vector {
  text-align: center;
  float: left;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 0px;

  border-top: 2px solid #333333;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

.vector~.vector {
  border-right: 2px solid #333333;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 768px) {
  .sidebar {
    padding-top: 120px;
  }

}
