body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #afafaf;
  margin: 0;
  padding: 0;
  background-color: #222222;
}

::selection 
{
  background: #2979FF;
  color: #333333;
}

::-moz-selection 
{
  background: #2979FF;
  color: #333333;
}

h3 
{
  text-align: center;
  color: #afafaf;
  font-size: 25px;
  background-color: #2979FF;
  padding-top: 4px;
  padding-bottom: 4px;
}