body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  color: #00B0FF;
  font-size: 250%;
  background-color: #01579B;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin-left: 0;
}

span {
  margin-left: 10px;
}
