<div class="algo__input my-3 p-3 bg-body rounded shadow-sm">
  <div>
    <button (click)="switchSizeSpoilerVisibility()"> Size </button>
    <button (click)="onSampleButtonClick()">Sample data</button>
  </div>

  <div #inputSizeSpoiler [class.centered-div]="true">

    <div *ngIf="sizeSpoilerVisible()">
      <div *ngIf="isNotValidMatrixSize()">
        Type valid # of rows and # of columns
      </div>

      <div>
        <div [class.inline-block]="true">Rows:<br>
          <input type="number" [(ngModel)]="rows">
        </div>
        <div [class.inline-block]="true">Columns:<br>
          <input type="number" [(ngModel)]="columns">
        </div>
      </div>
    </div>

    <br>

    <div [class.centered-child]="true" [class.bold-text]="true" [hidden]="isNotValidMatrixSize()">
      Matrix:
      <br>

      <matrix-view [rows]="rows" [columns]="columns" [matrix]="sampleMatrix" #matrixView></matrix-view>
    </div>
    <br>

    <div [class.centered-child]="true" [hidden]="isNotValidVectorSize()">
      <br>
      Constant terms
      <matrix-view [rows]="rows" [columns]="1" [matrix]="sampleConstantVector" #constantView></matrix-view>
      <br>
      Start Vector
      <matrix-view [rows]="rows" [columns]="1" [matrix]="sampleStartVector" #vectorView></matrix-view>
    </div>
    <br>

  </div>

  <button [hidden]="calcButtonHidden()" class="btn btn-primary"
    (click)="matrixView.matrix && constantView.matrix && vectorView.matrix && onCalcButtonClick(matrixView.matrix, constantView.matrix, vectorView.matrix)">Calc</button>
</div>

<div [class.centered-child]="true" [class.bold-text]="true" [hidden]="isNotValidMatrixSize()"
  class="my-3 p-3 bg-body rounded shadow-sm" *ngFor="let matrix of getMatrices(); let i = index" #tempCalcContainer>

  <h6 class="border-bottom pb-2 mb-0">
    {{getTitleOf(i)}}
  </h6>
  <span>{{getDescOf(i)}}</span>

  <matrix-view [rows]="matrix.rows" [columns]="matrix.columns" [matrix]="matrix" [disabled]="true"> </matrix-view>

</div>
<br>
