@import "bootstrap/scss/bootstrap"
@import "~bootstrap-icons/font/bootstrap-icons.css"

::selection
  background: #2979FF
  color: #333333

::-moz-selection
  background: #2979FF
  color: #333333

.algo__title
  background-color: $teal
  color: $black

.algo__input
