<div>
  <span class="warningMsg" *ngIf="isNotValidMatrixSize()">Illegal size.</span>
  <table>
    <tr *ngFor="let row of createRange(rows); let i = index">
      <td *ngFor="let column of createRange(columns); let j = index">
        <matrix-cell (keyup)="updateMatrixValues(i, j, $event)"
          [value]="(this.matrix) ? this.matrix.getAtFormatted(i,j) : ''" [disabled]="disabled"></matrix-cell>
        <br>
      </td>
    </tr>
  </table>
  <div>
